@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
 
}


nav ul li{
    list-style: none;
    margin: 35px 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
    position: relative;
}
nav ul li a::after{
    content: "";
    height: 3px;
    width: 0%;
    background-color: #eea16d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.22s;


}
nav ul li a:hover::after{
    width: 100%;
}

nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
    font-family: 'Bebas Neue', cursive;
    z-index: 2;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    

}

.title-text{
    color: #333;
    font-size: 200px;
    letter-spacing: 100px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    font-weight: 800;
    z-index: -1;
}
.close-icon{
    width: 25px;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
